.me {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.headInfo {
  display: flex;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  padding: 6.666667vw 4vw;
  color: #fff;
  align-items: center;
}

.head-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: 0px 0px;
  background-size: 60px;
  background-image: url(assets/avatar.jpg);
}

.head-profile {
  overflow: hidden;
  margin-left: 4.8vw;
  flex-grow: 1;
}

.head-profile .user-id {
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  margin-bottom: 2.133333vw;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.head-profile .user-phone {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.user-phone > i {
  margin-right: 0.666667vw;
  font-size: 1rem;
}

.headInfo > i {
  font-size: 1.2rem;
}

.maininfo {
  display: table;
  width: 100%;
  height: 2.24rem;
  height: 22.4vw;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.bounes {
  display: table-cell;
  width: 33.3333%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.bounes:not(:last-child) {
  border-right: 1px solid #ddd;
}

.hongbao-num {
  padding: 0.45rem 0.3rem;
  padding: 4.5vm 3vm;
  font-size: 1.5rem;
  line-height: 0.7rem;
  line-height: 7vw;
  font-weight: 700;
}

.hongbao-type {
  font-size: 0.32rem;
  line-height: 0.32rem;
  line-height: 3.2vw;
}

.type {
  margin-top: 0.133333rem;
  margin-top: 1.333333vw;
  font-size: 0.32rem;
  line-height: 0.373333rem;
  line-height: 3.733333vw;
  font-weight: 500;
  color: #666;
  font-weight: 700;
}

.address-cell {
  margin-top: 2.666667vw;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  line-height: 4.533333vw;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 6.666667vw;
  color: #333;
}

.address-cell > i {
  font-size: 1.3rem;
  color: rgb(74, 165, 240);
  margin-right: 2.666667vw;
}

.address-index {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3.733333vw 2.666667vw 3.733333vw 0;
  align-content: center;
}

.address-index > i {
  font-size: 1.3rem;
  color: #ccc;
}

.loginOut-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 3.733333vw 0;
  margin: 5.333333vw 0;
  color: #ff5339;
  border-radius: 0.8vw;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  border: 0;
}